*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav .Home ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-weight: 500;
    font-size: 16px;
    margin: 30px;
}
.container{
    max-width: 1600px;
    margin: auto;
    
}
nav .Home{
    margin: 16px;
}

/* button-designing */
.my-button{
    background-color: #30B868;
    padding: 12px 16px;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
.hero-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 770px;
}
.my-button-1{
    color: var(--#afc9ba, rgba(70, 145, 101, 1));
    background-color: #b9e7cc;
    font-weight: 500;
    font-size: 16px;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    border: none;
    padding: 8px auto;
    cursor: pointer;
}
.structure .structure-thinking{
    color: white;
    display: block;
    font-size: 72px;
    font-weight: 700;
    margin-top: 16px;
}
.structure .not-just{
    color: rgba(48, 184, 104, 1);
    font-size: 72px;
    font-weight: 700;
    margin-top: 10px;
}
.paragraph .A-private{
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
}
.start-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 32px;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.start-button img{
    height: 16px;          
    width: auto;
}
.see-how-it-works .my-button2{
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    width: 198px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
main{
    background-image: url("./assets/hero-bg.png") ;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 144px 0;
}
.full-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Notes{
    text-align: center;
    margin-top: 20px;
}
.Notes p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #627382
}
.Notes h2{
    color: #001931;
    font-size: 48px;
}
.cart{
    display: flex;
    /* border: 1px solid red; */
    gap: 15px;
    height: 200px auto;
}
.cart .cart1 .vector{
    background-color: #F95555;
    border-radius: 50px;
    padding: 1.5px 2.49px ;
}
.cart .cart1 h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cart .cart1{
    background-color: rgb(248, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 10px;
    margin-top: 25px;
}
.cart .small-text{
    text-align: center;
    color: #627382;
}
.Brain{
    display: flex;
    padding: 120px;
    gap: 60px;
}
.brain-container .second-brain{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}
.brain-container .second-brain2{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 40px;
}
.brain-container .small-quotes{
    color: #001931;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.brain-container .small-quotes .check-circle{
    height: 20px;
    width: 20px;
}
.almost-end .almost-end2{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #F7F6F2;
    border-radius: 10px;
    color: red;
}
.last-destination1{
    display: flex;
    justify-content: center;
    gap: 1140px;
    padding: 120px 0;
    color: white;
    align-items: center;
    padding: 80px 0;
}
.last-destination{
        background-color: #001931;
        margin-top: 120px;
}
.line{
    border: none;
    height: 1px;
    background-color:aliceblue;
    margin-bottom: 60px;
}
.copyright{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    font-size: 16px;
    color: white;
}
.sobuj-button .my-button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
.sobuj-button1{
    height: 20px;
    width: 20px;
}